<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Weather Services Statistics</title>

		<link href="//mincss.com/entireframework.min.css" rel="stylesheet" type="text/css">

        <!-- AmCharts -->
        <!-- Resources -->
        <script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/charts.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

        <!-- Styles -->
        <style>
        #chart_yandex, #chart_rp5 {
          width: 100%;
          height: 500px;
          max-width: 100%;
        }
        </style>

        <!-- Data for chart_1 -->
        <script>
			var DataYandex = {{ data_yandex|tojson }};
			var DataRP5 = {{ data_rp5|tojson }};
			var DataNarodmon = {{ data_narodmon|tojson }};
		</script>
		<script src="{{ url_for('static', filename='wss_chart_yandex.js')}}"></script>
		<script src="{{ url_for('static', filename='wss_chart_rp5.js')}}"></script>

	</head>
	<body>
		<nav class="nav" tabindex="-1" onclick="this.focus()">
			<div class="container">
				<a class="pagename current" href="#">WSS</a>
				<a href="#">Temperature</a>
				<a href="#">Pressure</a>
				<a href="#">Balcony Condition</a>
			</div>
		</nav>
		<button class="btn-close btn btn-sm">×</button>
		<div class="container">
			<h3>Yandex Forecast and real data:</h3>
            <div id="chart_yandex"></div>
		</div>
		<div class="container">
			<h3>RP5 Forecast and real data:</h3>
            <div id="chart_rp5"></div>
		</div>
	</body>
</html>









